@import "tailwindcss";

@theme {
  --color-page-bg: rgb(241, 229, 212);
  --color-component-bg: rgb(255, 255, 255);
  --color-card-bg: rgb(243, 244, 246);
  --color-text-fg: rgb(38, 38, 38);
  --color-subtext-fg: rgb(55, 65, 81);
  --color-sidetext-fg: rgb(107, 114, 128);
  --color-accent-light: rgb(112, 173, 71);
  --color-accent-dark: rgb(85, 109, 9);
  --color-disable-fg: rgb(209, 213, 219);
  --font-display: Poppins, sans-serif;
  --font-headers: Bebas Neue, sans-serif;
  --breakpoint-ll: 55.5rem;
  --breakpoint-tl: 50.5rem;
  --breakpoint-mt: 28.25rem;
}

/*https://pptmon.com/nature-plants-portfolio/*/

@layer base {
  body {
    @apply font-display text-lg bg-page-bg text-text-fg;
  }

  #root {
    @apply flex justify-center overflow-hidden;
  }

  section:not(:last-of-type) {
    @apply pb-8 ll:pb-12 border-b-2 border-dashed border-accent-dark;
  }

  section:not(:first-of-type) {
    @apply pt-8 ll:pt-12;
  }

  h1, h2, h3 {
    @apply font-headers tracking-wide;
  }

  h2 {
    @apply text-4xl tl:text-5xl text-center;
  }

  h3 {
    @apply text-2xl font-semibold;
  }

  a {
    @apply text-accent-light;
  }
}

@layer components {
  .grid-layout {
    @apply grid grid-cols-1 tl:grid-cols-2 gap-8 ll:gap-12 mt-8;
  }

  .item {
    @apply transition-transform duration-300 hover:transform-[scale(1.05)];
  }
}